<!-- main-footer -->
<footer class="main-footer">
    <div class="large-container">
        <div class="widget-section">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget contact-widget mt_10">
                        <div class="widget-content">
                            <div class="support-box">
                                <div class="icon-box"><i class="icon-3"></i></div>
                                <a href="tel:912345678">91 2345 678</a>
                                <span>拨打 24/7 热线</span>
                            </div>
                            <ul class="info mb_30 clearfix">
                                <li>57 heol isaf Station Road, 卡迪夫, 英国</li>
                                <li><a href="mailto:info@example.com">info@example.com</a></li>
                            </ul>
                            <ul class="social-links">
                                <li><a href="index.html"><i class="icon-13"></i></a></li>
                                <li><a href="index.html"><i class="icon-14"></i></a></li>
                                <li><a href="index.html"><i class="icon-15"></i></a></li>
                                <li><a href="index.html"><i class="icon-16"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget links-widget">
                        <div class="widget-title">
                            <h4>资源</h4>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list clearfix">
                                <li><a href="about.html">关于我们</a></li>
                                <li><a href="shop.html">店铺</a></li>
                                <li><a href="cart.html">大车</a></li>
                                <li><a href="index.html">商标</a></li>
                                <li><a href="index.html">移动应用</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget links-widget">
                        <div class="widget-title">
                            <h4>捐</h4>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list clearfix">
                                <li><a href="index.html">评价</a></li>
                                <li><a href="contact.html">接触</a></li>
                                <li><a href="index.html">退货政策</a></li>
                                <li><a href="index.html">在线支持</a></li>
                                <li><a href="index.html">退款</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget links-widget">
                        <div class="widget-title">
                            <h4>店铺信息</h4>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list clearfix">
                                <li><a href="shop.html">畅销书</a></li>
                                <li><a href="shop.html">最畅销商品</a></li>
                                <li><a href="shop.html">新品上市</a></li>
                                <li><a href="shop.html">闪购</a></li>
                                <li><a href="shop.html">折扣产品</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget subscribe-widget">
                        <div class="widget-title">
                            <h4>命令</h4>
                        </div>
                        <div class="widget-content">
                            <p>随时了解即将举行的活动、网络研讨会和演示
                                有趣的转变。</p>
                            <div class="form-inner">
                                <form action="contact.html" method="post">
                                    <div class="form-group">
                                        <input name="email" placeholder="电子邮件" required="" type="email" />
                                        <button type="submit"><i class="icon-12"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="bottom-inner">
                <div class="copyright">
                    <p>版权所有 © 2025 <a href="index.html">骆驼</a>，公司保留所有权利</p>
                </div>
                <!-- <ul class="footer-card">
                    <li><a href="index.html"><img alt=""
                                src="https://images.unsplash.com/photo-1572569511254-d8f925fe2cbb?auto=format&fit=crop&w=1200&q=80&sig=117" /></a>
                    </li>
                    <li><a href="index.html"><img alt=""
                                src="https://images.unsplash.com/photo-1593305841991-05c297ba4575?auto=format&fit=crop&w=1200&q=80&sig=118" /></a>
                    </li>
                    <li><a href="index.html"><img alt=""
                                src="https://images.unsplash.com/photo-1580910051074-3eb694886505?auto=format&fit=crop&w=1200&q=80&sig=119" /></a>
                    </li>
                    <li><a href="index.html"><img alt=""
                                src="https://images.unsplash.com/photo-1518444065439-e933c06ce9cd?auto=format&fit=crop&w=1200&q=80&sig=120" /></a>
                    </li>
                    <li><a href="index.html"><img alt=""
                                src="https://images.unsplash.com/photo-1546054454-aa26e2b734c7?auto=format&fit=crop&w=1200&q=80&sig=121" /></a>
                    </li>
                    <li><a href="index.html"><img alt=""
                                src="https://images.unsplash.com/photo-1526738549149-8e07eca6c147?auto=format&fit=crop&w=1200&q=80&sig=122" /></a>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
</footer>
<!-- main-footer end -->
<!--Scroll to top-->
<div class="scroll-to-top">
    <svg class="scroll-top-inner" viewbox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
</div>